/* Change the navbar background color */
.navbar {
    background-color: #090909 !important; /* Dark background */
  }
  
  /* Change the text color on hover */
  .navbar .nav-link:hover {
    color: #ffcc00; /* Yellow text on hover */
  }
  
  .navbar-light .navbar-nav .nav-link {
      color:  #ffcc00 !important;
  }
  
  /* Change the background color of the focused link */
  .navbar .nav-link:focus {
    background-color: #555; /* Darker background on focus */
    color: #fdfcfc !important; /* Yellow text on focus */
    border-radius: 20px;
  }
  
  /* padding in navbar link  */
  .navbar-nav .nav-link{
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
  
  .nav-link i {
      padding-right: 10px !important;
      color: #FFD43B;
  }
  .navbar-light .navbar-toggler{
      border: 1px solid wheat !important;
  }
  /* Mobile responsiveness */
  @media (max-width: 576px) {
    .col-4 {
      margin-bottom: 20px;
    }
  }
/* media queary */
/* below tab */
@media (max-width: 768px){
    .navbar-nav .nav-link{
        padding-left: 12px !important;
    }
}
/* above tab */
@media (min-width: 768px){

}
